<% provide(:title, @title) %>
<% if logged_in? %>
  <div class="row">
    <div class="center jumbotron">
      <h1>HistoryPost</h1>
      <h2>みんなで教えあいながら歴史を学んでみませんか？</h2>
    </div>

    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <%= link_to "新しい解説を投稿する", new_post_path, class: "btn btn-primary btn_new_post" %>
    </aside>

    <div class="col-md-9 wrap">
      <ul id="tab-menu" class="clearfix">
        <li><a href="#tab1" class="active"><%= @headline %></a></li>
        <li><a href="#tab2" class="">投稿一覧</a></li>
        <li><a href="#tab3" class="">人気順</a></li>
      </ul>

      <div id="tab-contents" class="clearfix">
        <div id="tab1" class="tab">
          <%= render 'shared/feed' %>
        </div>
        <div id="tab2" class="tab">
          <%= render 'posts/index' %>
        </div>
        <div id="tab3" class="tab">
          <%= render 'posts/ranking' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
  	<div class="center jumbotron">
  	  <h1>HistoryPost</h1>
  	  <h2>みんなで教えあいながら歴史を学んでみませんか？</h2>
  	  <%= link_to "ユーザー登録して始めましょう！", signup_path, class: "btn btn-lg btn-success" %>
  	</div>

    <div class="home_posts col-md-8 col-md-offset-2">
      <h3>新着解説</h3>
      <ol class="posts">
        <% if @posts.any? %>
          <%= render @posts %>
        <% else %>
          <p>解説はまだありません</p>
        <% end %>
      </ol>
      <%= link_to "ユーザー登録するとすべての解説が見られるようになります", signup_path %>
    </div>
  </div>
<% end %>