<% provide(:title, 'ユーザー一覧') %>
<li class="search-nav">
  <%= form_tag(users_path, method: :get) do %>
    <div class="input-group">
      <%= search_field_tag "q", params[:q], class: "form-control", placeholder: "ユーザー名をキーワードで検索" %>
      <span class="input-group-btn">
        <%= button_tag(class: "btn btn-default") do %>
           <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</li>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>