<% provide(:title, "人気順解説") %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'shared/link_list' %>
    <%= link_to "新しい解説を投稿する", new_post_path, class: "btn btn-primary btn_new_post" %>
  </aside>

  <div class="col-md-9">
    <div class="wrapper">
      <h3>人気順解説</h3>
      <% if @posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% else %>
        <hr>
        <h4>解説がありません</h4>
      <% end %>
    </div>
  </div>
</div>