<% provide(:title, @post.post_name ) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <% if @post.user.user_image_id.nil? %>
          <%= gravatar_for @post.user %>
        <% else %>
          <%= attachment_image_tag @post.user, :user_image, :fill, 80, 80, alt: "ユーザー画像", class: "user_image" %>
        <% end %>
        <%= @post.user.user_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-9">
    <h3><%= @post.post_name %></h3>
    <span><%= @post.introduction %></span>
    <%= attachment_image_tag @post, :post_image, alt: "解説用画像", class: "show_post_image" %>
    <!-- subtitleとcontentをここにいれる -->
  </div>
</div>